.relacionados{
  display: none;
  padding: 2vw;
  height: 95%;
}

.github{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: 768px){
  .relacionados{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}